.ui.celled.table {
  text-align: center;
  white-space: pre-wrap;
}

.ui.celled.table th, .ui.celled.table td {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.ui.celled.table th {
  background-color: #666666;
  color: #F5F5D7;
}

.ui.celled.table th.sub-header {
  background-color: #999999;
}

.ui.celled.table td {
  background-color: #FFF2CC;
}

.ui.celled.table td.dark {
  background-color: #4E4E4E;
}

.ui.celled.table tr th,
.ui.celled.table tr td {
  border-top: solid black 1px;
  border-left: solid black 1px;
  border-right: solid black 1px;
  border-bottom: solid black 1px;
}

.ui.celled.table tr th.border-top,
.ui.celled.table tr.border-top th,
.ui.celled.table tr.border-top td {
  border-top: solid black 4px;
}

.ui.celled.table tr td.border-left,
.ui.celled.table tr.border-left th,
.ui.celled.table tr.border-left td {
  border-left: solid black 2px;
}

.ui.celled.table tr th.border-left,
.ui.celled.table tr.border-left th:first-child,
.ui.celled.table tr.border-left td:first-child {
  border-left: solid black 4px;
}

.ui.celled.table tr td.border-right,
.ui.celled.table .border-right th,
.ui.celled.table .border-right td {
  border-right: solid black 2px;
}

.ui.celled.table tr th.border-right,
.ui.celled.table .border-right th:last-child,
.ui.celled.table .border-right td:last-child {
  border-right: solid black 4px;
}

.ui.celled.table tr th.border-bottom,
.ui.celled.table .border-bottom th,
.ui.celled.table .border-bottom td {
  border-bottom: solid black 4px;
}

#user-total-cards {
  background-color: #E06666;
}

#user-tokens {
  background-color: #6D9EEB;
}

#user-gc {
  background-color: #C27BA0;
}

#user-exp {
  background-color: #F6B26B;
}

#user-rt {
  background-color: #93C47D;
}

#user-lt {
  background-color: #FFD966;
}

.ui.celled.table tr.row-bonus td {
  background-color: #A4C2F4;
}

.ui.celled.table tr.row-exchange td {
  background-color: #B4A7D6;
}

.ui.celled.table tr.trivia-correct td {
  background-color: #B6D7A8;
}

.ui.celled.table tr.trivia-incorrect td {
  background-color: #EA9999;
}